@media only screen and (max-width: 1000px) {

    .containerDeProdutos{
        grid-template: auto auto auto /  auto auto auto;
    }
}

@media only screen and (max-width: 800px) {

    .containerDeProdutos{
        grid-template: auto auto auto auto / auto auto;
    }
}

@media only screen and (max-width: 730px) {

    .containerDeProdutos{
        grid-template: auto auto auto auto auto / 100%;
        gap: 25px 0px;
    }
    .produtos{
        width: 100%;
    }
    .produtos:hover{
        width: 100%;
    }
}
